.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 544px) {
  .cards {
    padding: 15px 0 18px;
  }
}

/* Vector */

/* position: absolute;
left: 19.3%;
right: 78.67%;
top: 28.61%;
bottom: 67.78%;

background: #ffffff; */

/* Ellipse */

/* position: absolute;
width: 120px;
height: 120px;
left: 200px;
top: 159px;

background: #c4c4c4; */

/* Rectangle 1 */

/* position: absolute;

left: 200px;
top: 159px;

background: rgba(0, 0, 0, 0.8); */
